.container {
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.title {
    font-family:'Quicksand','Source Sans Pro',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
    display: block;
    font-weight: 300;
    font-size: 3rem;
    color: #35495e;
    letter-spacing: 1px;
}
.chat{
    position: fixed;
    right: 15px;
    bottom: 0;
    max-width: 400px;
    height: 500px !important;
}
.btn{
	display: inline-block;
	border-radius: 3px;
	padding: 0.5rem 0;
	margin: 3rem 0.5rem 0 1rem;
	width: 11rem;
	background: #35495e;
	color: white;
	text-decoration: none;
}